
.vs/PlastiDip/FileContentIndex/c988258d-d8b9-4bc7-b8d1-62486a059f0a.vsidx
.vs/PlastiDip/FileContentIndex/read.lock
*.cache
*.json
*.props
*.cs
*.editorconfig
*.editorconfig
PlastiDip/obj/Debug/net7.0-windows/PlastiDip_MarkupCompile.cache
PlastiDip/obj/Debug/net7.0-windows/PlastiDip_MarkupCompile.i.cache
.vs/PlastiDip/v17/.suo
PlastiDip/obj/Debug/net7.0-windows/PlastiDip.assets.cache
PlastiDip/obj/Debug/net7.0-windows/PlastiDip.csproj.FileListAbsolute.txt
PlastiDip/obj/Debug/net7.0-windows/PlastiDip.GeneratedMSBuildEditorConfig.editorconfig
PlastiDip/obj/Debug/net7.0-windows/PlastiDip_MarkupCompile.cache
PlastiDip/obj/Debug/net7.0-windows/PlastiDip_MarkupCompile.i.cache
PlastiDip/obj/Debug/net7.0-windows/PlastiDip_MarkupCompile.lref
PlastiDip/obj/PlastiDip.csproj.nuget.dgspec.json
PlastiDip/obj/PlastiDip_wgkonnag_wpftmp.csproj.nuget.g.targets
PlastiDip/obj/project.assets.json
PlastiDip/obj/project.nuget.cache
PlastiDip/obj/Debug/net7.0-windows/PlastiDip.assets.cache
PlastiDip/obj/Debug/net7.0-windows/PlastiDip.assets.cache
